body {
  margin: 0;
  background-image: linear-gradient(135deg, #ffedff 0, #ffe2ff 12.5%, #ffd6ff 25%, #ffc7ff 37.5%, #f2b5f2 50%, #cca3d9 62.5%, #ac93c2 75%, #9286ae 87.5%, #7e7b9d 100%);
    background-size: 500%;
    animation: fanimado 10s infinite;
}
@keyframes fanimado {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}



.keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  margin: auto;
}

.up {
  position: relative;
  top: -4px;
}

.chevron::before {
  border-style: solid;
  border-width: 8px 8px 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  top: -10px;
  position: relative;
  transform: rotate(-45deg);
}

.chevron.down::before {
  transform: rotate(135deg);
  top: -22px;
}

.chevron.right::before {
  transform: rotate(45deg);
  top: -18px;
  left: -5px;
}

.chevron.left::before {
  transform: rotate(225deg);
  top: -18px;
  left: 5px;
}

.arr {
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 100px;
  background: rgb(0, 134, 175);
  color: rgb(16, 20, 224);
  font-size: 50px;
  border-right: 10px solid rgb(248, 212, 11);
  border-bottom: 10px solid rgb(114, 3, 3);
  border-left: 10px solid rgb(20, 189, 4);
  border-top: 10px solid rgb(231, 11, 114);
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  user-select: none;
}

.arr:active {
  background: #555;
}

#game-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}
img {
 
 opacity: 0.5;
  width: 100%;
  height: 100vw;
  max-width: 500px;
  max-height:500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  
}
.game-canvas {
  opacity: 0.7;
  width: 100%;
  height: 100vw;
  max-width: 500px;
  max-height:500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
